BasedOnStyle: LLVM
IndentWidth: 4             
TabWidth: 4
UseTab: Never
ColumnLimit: 150              
BreakBeforeBraces: Attach
AlignConsecutiveAssignments: true
AlignAfterOpenBracket: BlockIndent
PointerAlignment: Right
SpaceBeforeParens: ControlStatements